doctype html
<!-- #{name} Version: #{version} -->
html(lang="en").no-js
  head
    title #{name} Version: #{version}
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="finfin.css", type="text/css")
  body
  
    h1 Grid
    div.container
      - for (var x = 1; x <= 20; x++)
        div.row
          div(class="xs-"+x)= x
          if(20-x > 0)
            div(class="xs-"+(20-x))= 20-x
            
    h1 Blog
    div.blog
      section
        article Artikel! 
        aside Sidebar!
